

label {
  color: black !important;
  font-weight: bold;
  font-size: 15px;
}

.pagination li > a {
  cursor: pointer;
}

.pagination {
  margin-bottom: 5px;
}

a.secondary-content {
  position: relative !important;
  flex: 1;
  text-align: right;
  top: 0px !important;
  right: 0px !important;
}

.secondary-content .material-icons {
  font-size: 36px;
}

.item-detail .header {
  display: flex;
  justify-content: space-between;
}

.flex {
  display: flex;
  justify-content: space-around;
}

.wrap {
  flex-wrap: wrap;
}

.has-error {
  font-size: 10px;
  color: red;
}

.spacer a {
  margin: 0px 10px;
  cursor: pointer;
}

li.collection-item.avatar {
  display: flex;
  align-items: center;
  padding-left: 10px !important;
}

li.collection-item.avatar img {
  position: relative !important;
  left: 0px !important;
  margin: 0px 10px !important;
}

.right {
  width: 20%;
  height: auto;
}

.disabled {
  pointer-events:none; 
  opacity:0.6;         
}

.loader {
  position: absolute;
  top :0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

nav .brand-logo {
  margin-left: 20px;
}

.btn {
  margin-right: 20px;
  @media screen and (max-width: 600px) {
    margin: 0 1% 0 0;
    width: 49%;
  }
  @media screen and (max-width: 420px) {
    width: 100%;
    margin-bottom: 10px;
  }
}


